@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    } */
    .progress-bar__progress{
        stroke-dasharray: 100 100;
        stroke-dashoffset: 0;
        stroke-linecap: round;
    }
    .popup-box{
        animation-delay: 5s;
    }

    .popup-inner{
        min-height: calc(100vh - (28px * 2));
    }

    .select-item.selected figure .invisible{
      visibility: visible;
    }
    .select-item.selected span{
      color: theme('colors.primary');
    }
    li.group.active{
      background: theme('colors.primary');
    }
    li.group.active dd{
      color: theme('colors.white');
    }
    li.group.active img:not(.hidden){
      display: none;
    }
    li.group.active img.hidden{
      display: block;
    }
    /* ... */
  }
