@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .shownLine{
      @apply before:w-5 before:h-[3px] before:absolute before:left-1/2 before:top-1/2 before:-translate-y-1/2 before:-translate-x-1/2 before:rotate-45 before:z-10 before:bg-black;
    }
    .progress-bar__progress{
        stroke-dasharray: 100 100;
        stroke-dashoffset: 0;
        stroke-linecap: round;
    }
    .popup-box{
        animation-delay: 5s;
    }

    .popup-inner{
        min-height: calc(100vh - (28px * 2));
    }

    .select-item.selected figure .invisible{
      visibility: visible;
    }
    .select-item.selected span{
      color: theme('colors.primary');
    }
    li.group.active{
      background: theme('colors.primary');
    }
    li.group.active dd{
      color: theme('colors.white');
    }
    li.group.active img:not(.hidden){
      display: none;
    }
    li.group.active img.hidden{
      display: block;
    }
    /* ... */
  }
